{% extends "store/base.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type = "text/css" href="{% static 'store/base.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/detailProduct.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/menu.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/header.css' %}" />
{% endblock %}

{% block header %}
    <img id="logo" src="" alt="Logo" title="Logo">
    <h1>W-store</h1>
    <!--<div id = "paginas">-->
    <div id="botones">
        <a href="{% url 'login' %}" id="login">Iniciar Sesion</a>
        <a href="{% url 'store:signUp' %}" id="register">Registrarse</a>
        <p>Invitado</p>
        <!--<div class="clear"></div>-->
    </div>
    <div class="clear"></div>
{% endblock %}

{% block menu %}
    <div id="menu">
        <ul>
            <li><a href="{% url 'store:listProducts' %}">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Como comprar</a></li>
            <li><a href="">Contactanos</a></li>
            <li><a href="">Foro</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>{{ product.nombre }}</h1>
    <div id="imagen">
        <img id="prod" src="{{ product.image.url }}" alt="{{ product.nombre}}">
    </div>
    <div id="info">
        <p><span class="boldmark">By:</span> {{ product.marca }}</p>
        <p><span class="boldmark">Tipo:</span> {{ product.product_type}}</p>
        <p><span class="boldmark">Precio:</span> {{ product.price }}</p>
        <p><span class="boldmark">Precio Especial:</span> {{ product.special_price }}</p>
        <p><span class="boldmark">Stock:</span> {{ product.stock}}</p>
    </div>
    <div class="clear"></div>
    <div id="description">
        <p><span class="boldmark">Descripcion:</span> {{ product.description }}</p>
        <p><span class="boldmark">Especificaciones:</span> {{ product.spec }}</p>
    </div>
{% endblock %}
