{% extends "store/base.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type = "text/css" href="{% static 'store/base.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/listProduct.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/menu.css' %}" />
<link rel="stylesheet" type = "text/css" href="{% static 'store/header.css' %}" />
{% endblock %}

{% block header %}
    <a href="{% url 'store:listProducts' %}"><img id="logo" src="{{ MEDIA_URL }}W-store.png" alt="W-store" title="W-store"></a>
    <h1>W-store</h1>
    <!--<div id = "paginas">-->
    <div id="botones">
        {% if user.is_active %}
            <a href="{% url 'store:logout' %}" id="register">Cerrar sesion</a>
            <p>{{ user }}</p>
        {% else %}
            <a href="{% url 'login' %}" id="login">Iniciar Sesion</a>
            <a href="{% url 'store:signUp' %}" id="register">Registrarse</a>
            <p>Invitado</p>
        {% endif %}
        <!--<div class="clear"></div>-->
    </div>
    <div class="clear"></div>
{% endblock %}
{% block menu %}
    <div id="menu">
        <ul>
            <li><a href="{% url 'store:listProducts' %}">Inicio</a></li>
            <li><a href="{% url 'store:listProducts' %}">Productos</a></li>
            <li><a href="">Como comprar</a></li>
            <li><a href="">Contactanos</a></li>
            <li><a href="">Foro</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% if latest_product_list %}
        {% for producto in latest_product_list %}
            <div class="product">
                <div>
                    <img src="{{ producto.image.url }}" alt="{{ producto.nombre }}">
                </div>
                <div class="clear"></div>
                <div>
                <a href="{% url 'store:detailProduct' producto.id %}"><span class="productName">{{ producto.nombre }}</span></a><br>
                Price: {{ producto.price }}<br>
                Special Price: {{ producto.special_price }}<br>
                </div>
                <div class="clear"></div>
            </div>
            <!-- <li><a href="/store/product/{{ producto.id }}/">{{ producto.nombre }}</a></li> -->
            <!-- <li><a href="{% url 'store:detailProduct' producto.id %}">{{ producto.nombre }}</a></li>-->
        {% endfor %}
                <div class="clear"></div>
    {% else %}
        <p>No hay productos disponibles.</p>
    {% endif %}
{% endblock %}
