.product a:link {
    color: rgb(13, 107, 170);
    text-decoration: none;
} 
.product a:visited{
    color: rgb(13, 107, 170);
    text-decoration: none;
} 
.product a:hover {
    color: black;
    text-decoration: none;
} 
.product a:active{
    color: black;
    text-decoration: none;
} 

#imagen{
    float: left;
}

#prod{/*imagen dentro del div imagen*/
    margin: 5px 5px 5px 5px;
    width: 370px;
}
#info{/* esto solo funciona en artistD.py deberia tener su prpopio css conrregir cuando tenga mas tiempo
    /*margin: 2px 2px;*/
    float:left;
}

#description p{
    /*border-top-style : solid;*/
    /*border-top-color : #e0e0e0;*/
    border-top-style : dotted;
    border-top-color : rgb(13, 107, 170);
    border-top-width: 1px;
    padding: 15px 15px 15px 15px;
}
.productName{
    font-weight: bold;
    font-size: 18px;
}
.boldmark{
    font-weight: bold;
    font-size: 19px;
}
#coments p{
    border-top-style : dotted;
    border-top-color : rgb(13, 107, 170);
    border-top-width: 1px;
    padding: 15px 15px 15px 15px;
}
.coment {
    padding: 10px;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(215,215,215,1) 0%,rgba(215,215,215,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(215,215,215,1) 0%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(215,215,215,1) 0%,rgba(215,215,215,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(215,215,215,1) 0%,rgba(215,215,215,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(215,215,215,1) 0%,rgba(215,215,215,1) 100%); /* W3C */

}
.coment p{
    border-top-style : dotted;
    border-bottom-style : dotted;
    border-top-color : rgb(13, 107, 170);
    border-bottom-color : rgb(13, 107, 170);
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 15px 15px 15px 15px;
}
.comentUser{
    font-weight: bold;
    font-size: 19px;
    color: rgb(0, 77, 140);
}
.comentDate{
    float: right;
}
textarea{
    border-color: rgb(28,91,178);
    border-style: solid;
    border-radius: 5px; 
    border-width: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
input[type=submit]{
    display: block;
    font-family: eur;
    font-size: 15px;
    border-color: rgb(28,91,178);
    border-style: solid;
    border-radius: 5px; 
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(28,91,178);
    color: white;
    -webkit-transition: all 0.3s ease; /* Efecto de transición para cuandocolocamos en mouse encima del botón para un determinado navegador */
}
input[type=submit]:hover{
    display: block;
    border-color: rgb(45, 157, 222);
    border-style: solid;
    border-radius: 5px; 
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(45, 157, 222);
    color: white;
    -webkit-transition: all 0.3s ease; /* Efecto de transición para cuandocolocamos en mouse encima del botón para un determinado navegador */
}
select{
    font-family: eur;
    padding: 5px;
    background-color: rgb(28,91,178);
    color: white;
    border-color: rgb(28,91,178);
    border-style: solid;
    border-radius: 5px; 

}
/*#menu{
    overflow: hidden;
    border: 1px solid;
    width:100%;
}
#menu div{
    float:left;
}
#menu2{
    overflow: hidden;
    width:100%;
}
#menu2 ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
#menu2 li{
    float:left;
}
div.clear{
    clear:both;
}
h1 {
    color: rgba(31, 107, 183, 1);
    text-shadow: 2px 2px 2px #6e6e6e;
}


